.writePost{
  margin: auto;
  max-width: 500px;
}
.imageUpload_progress{
  padding: 10px;
}
.writePost__chooseFile{
  opacity: 0;
  cursor: pointer;
}
.Img-display{
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(92, 92, 92);
  object-fit: contain;
}
.progress{
  display: flex;
  border: 1px solid lightgray;
}
.progress-bar-success{
  width: 40%;
  background-color: greenyellow;
}
.progress-bar-warning{
  width: 10%;
  background-color: yellow;
}
.progress-bar-danger{
  width: 20%;
  background-color: red;
}
.writePost__fileUpload{
  width: 100% !important;
}
.writePost__fileInput{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}